<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OdontoForense - Perícia</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="pericia-container">
        <header>
            <h1>Perícia: Caso 1</h1>
        </header>
        <div class="pericia-details">
            <h3>Descrição do Caso:</h3>
            <textarea rows="5" placeholder="Descreva os detalhes da perícia..."></textarea>
            
            <h3>Evidências Coletadas:</h3>
            <ul id="evidencias-list">
                <li>Arquivo1.pdf</li>
                <li>Imagem1.jpg</li>
            </ul>
            <input type="file" id="evidencia" />
            <button class="btn-adicionar-evidencia">Adicionar Evidência</button>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>
